<script>
      function updateBals(){
        jQuery.ajax({ 
          type: 'GET',
          url: '/home/balance' ,
          dataType: 'json', 
          success: function(data) { 
            var bsInfo = data.bitstamp;
            element = document.getElementById("bsHol");
            element.textContent = bsInfo;
            

            var cbInfo = data.coinbase;
            element = document.getElementById("cbHol");
            element.textContent = cbInfo;
          }
        });
    }
    window.setInterval(updateBals, 10000);
</script>
<h1>Holdings</h1>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Exchange</th>
        <th>Balance</th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td>Bitstamp</td>
          <td id="bsHol"><%= Bitstamp.balance.to_s %></td>
        </tr>
        <tr>
          <td>Coinbase</td>
          <td id="cbHol"><%= @coinbase.balance.fractional.to_s %></td>
        </tr>
    </tbody>
  </table>
</div>
<br>
<a href="javascript:history.back()">Back</a><br/>
