<script>
navdash = document.getElementById("navdash");
      navtrans = document.getElementById("navtrans");
      navtran = document.getElementById("navtran");
      navhold = document.getElementById("navhold");
      navdash.className = ""
      navtrans.className = ""
      navtran.className = ""
      navhold.className = "active"
function round(num) 
  { return +(Math.round(num + "e+2")  + "e-2");
  }
      function updateBals(){
        jQuery.ajax({ 
          type: 'GET',
          url: '/home/balance' ,
          dataType: 'json', 
          success: function(data) { 
            var bsBal = parseFloat(data.bitstamp);
            var bsBalUSD = round(parseFloat(bsBal)*parseFloat(bsInfo));
            element = document.getElementById("bsBal");
            element.textContent = bsBal;
            element = document.getElementById("bsBalUSD");
            element.textContent = "$"+bsBalUSD;
            

            var cbBal = parseFloat(data.coinbase);
            var cbBalUSD = round(parseFloat(cbBal)*parseFloat(cbInfo.substr(1,cbInfo.length)));
            element = document.getElementById("cbBal");
            element.textContent = cbBal;
            element = document.getElementById("cbBalUSD");
            element.textContent = "$"+cbBalUSD;

            var totBal = round(bsBal+cbBal);
            var totBalUSD = round(bsBalUSD + cbBalUSD);
            element = document.getElementById("totBal");
            element.textContent = totBal;
            element = document.getElementById("totBalUSD");
            element.textContent = "$"+totBalUSD;
          }
        });
    }
    updateVals();
    updateBals();
    window.setInterval(updateBals, 10000);
</script>
<div class="row">
<div class="col-md-2"></div>
              <div class="col-md-8">
                <div class="panel panel-primary">
                  <div class="panel-body">
                    <table class="table table-hover table-condensed">
                        <thead>
                          <tr>
                            <th>Exchange</th>
                            <th>BTC</th>
                            <th>USD</th>
                          </tr>
                        </thead>

                        <tbody>
                            <tr>
                              <td>Bitstamp</td>
                              <td id="bsBal"></td>
                              <td id="bsBalUSD"></td>
                            </tr>
                            <tr>
                              <td>Coinbase</td>
                              <td id="cbBal"></td>
                              <td id="cbBalUSD"></td>
                            </tr>
                            <tr class="info">
                              <td>Total</td>
                              <td id="totBal"></td>
                              <td id="totBalUSD"></td>
                            </tr>
                        </tbody>
                    </table>
                  </div>

                </div> 
              </div>        

<!--a href="javascript:history.back()">Back</a><br/-->
<div class="col-md-2"></div>
</div>
