<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="https://googledrive.com/host/0B6j6xmB1Ii0mX0dMb3NjWk85bEk/canvasjs.min.js"></script>
<script type="text/javascript">
  window.onload = function () {

    var request = new XMLHttpRequest();
    //request.onload = callback;
    request.open("get", "http://localhost:3000/home/history", false);
    request.setRequestHeader("Content-Type", "application/json");
    request.send(null);
    //alert(request.responseText);
    var jsonResponse = 	JSON.parse(request.responseText);
   
//for(var i=0;i<jsonResponse.data.length;i++)
//{
      //alert(jsonResponse[1].Bitstamp);
//}
  //  var res = jsonResponse['response'];
//alert(res[0]['bitstamp']);
    // dataPoints
	
    var dataPoints1 = [];
    var dataPoints2 = [];

    var chart = new CanvasJS.Chart("chartContainer",{
      zoomEnabled: true,
      title: {
        //text: "Bitcoin Realtime Price Comparison"
      },
      toolTip: {
        shared: true

      },
      legend: {
        verticalAlign: "top",
        horizontalAlign: "center",
                                fontSize: 14,
        fontWeight: "bold",
        fontFamily: "calibri",
        fontColor: "dimGrey"
      },
      axisX: {
        title: "chart updates every 60 secs"
      },
      axisY:{
        prefix: '$',
        includeZero: false
      },
      data: [{
        // dataSeries1
        type: "line",
        xValueType: "dateTime",
        showInLegend: true,
        name: "Bitstamp",
        dataPoints: dataPoints1
      },
      {
        // dataSeries2
        type: "line",
        xValueType: "dateTime",
        showInLegend: true,
        name: "Coinbase" ,
        dataPoints: dataPoints2
      }],
          legend:{
            cursor:"pointer",
            itemclick : function(e) {
              if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
              }
              else {
                e.dataSeries.visible = true;
              }
              chart.render();
            }
          }
    });

    navdash = document.getElementById("navdash");
      navtrans = document.getElementById("navtrans");
      navtran = document.getElementById("navtran");
      navhold = document.getElementById("navhold");
      navdash.className = "active"
      navtrans.className = ""
      navtran.className = ""
      navhold.className = ""


    var updateInterval = 60000;
    // initial value
    var yValue1 = parseFloat(jsonResponse[0].Coinbase);
    var yValue2 = parseFloat(jsonResponse[0].Bitstamp);
    //var time = parseFloat(jsonResponse[1].updated_at);
    //alert(time);
    //alert(parseFloat(jsonResponse[0].created_at));
    var time = new Date;
    time.setHours(9);
    time.setMinutes(30);
    time.setSeconds(00);
    time.setMilliseconds(00);
    // starting at 9.30 am

    var updateChart = function (count) {
    count = count || 1;
      //alert(count);
      // count is number of times loop runs to generate random dataPoints.

      for (var i = 1; i < jsonResponse.length; i++) {

        // add interval duration to time
        time.setTime(time.getTime()+ updateInterval);
	
	
        // generating random values
        //var deltaY1 = .5 + Math.random() *(-.5-.5);
        //var deltaY2 = .5 + Math.random() *(-.5-.5);
	
        // adding random value and rounding it to two digits.
        //yValue1 = Math.round((yValue1 + deltaY1)*100)/100;
        //yValue2 = Math.round((yValue2 + deltaY2)*100)/100;
	yValue1 = parseFloat(jsonResponse[i].Coinbase);
	yValue2 = parseFloat(jsonResponse[i].Bitstamp);
         // pushing the new values
        dataPoints1.push({
          x: time.getTime(),
//x: time,          
y: yValue1
        });
        dataPoints2.push({
          x: time.getTime(),
//x: time,
y: yValue2
        });


      };

      // updating legend text with  updated with y Value
      chart.options.data[0].legendText = " Bitstamp  $" + yValue1;
      chart.options.data[1].legendText = " Coinbase  $" + yValue2;

      chart.render();

    };

    // generates first set of dataPoints
    updateChart(600000);

    // update chart after specified interval
    setInterval(function(){updateChart()}, updateInterval);
  }
</script>
<script>

      function updateBals(){
        jQuery.ajax({ 
          type: 'GET',
          url: '/home/balance' ,
          dataType: 'json', 
          success: function(data) { 
            var bsBal = parseFloat(data.bitstamp);
            var bsBalUSD = round(parseFloat(bsBal)*parseFloat(bsInfo));
            element = document.getElementById("bsBal");
            element.textContent = bsBal;
            element = document.getElementById("bsBalUSD");
            element.textContent = "$"+bsBalUSD;
            

            var cbBal = parseFloat(data.coinbase);
            var cbBalUSD = round(parseFloat(cbBal)*parseFloat(cbInfo.substr(1,cbInfo.length)));
            element = document.getElementById("cbBal");
            element.textContent = cbBal;
            element = document.getElementById("cbBalUSD");
            element.textContent = "$"+cbBalUSD;

            var totBal = round(bsBal+cbBal);
            var totBalUSD = round(bsBalUSD + cbBalUSD);
            element = document.getElementById("totBal");
            element.textContent = totBal;
            element = document.getElementById("totBalUSD");
            element.textContent = "$"+totBalUSD;
          }
        });
    }
    updateVals();
    updateBals();
    window.setInterval(updateBals, 10000);
    
</script>
<% if user_signed_in? %>

      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-primary"><div class="panel-heading"><h5 class="panel-title">Bitcoin Realtime Price Comparison</h5>
            <div class="panel-body">
              <ul class="nav nav-pills nav-stacked">
                <li> 
                  <div id="chartContainer" style="height: 330px; width: 100%;"></div>
                </li>
                <li>
                 
                </li>
		<li>
                  <i>
                Select an area of the graph to Zoom and Pan
                  </i>
                </li>
              </ul></div>
            </div>
          </div>
	  <!--div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title"><%= link_to 'Alerts', '/alerts' %></h3>
	    </div>
            <div class="panel-body">
              <ul class="list-group">
                  <li class="list-group-item">
                    Alert Range (Set Price Difference)
                    <span >
                      <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                          </span>
                        </input>
                      </div>
                    </span>
                  </li>
              </ul>
            </div>
          </div-->
        </div>
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title"><%= link_to 'Holdings', '/holdings' %></h3></div>
            <div class="panel-body">
              <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Exchange</th>
                      <th>BTC</th>
                      <th>USD</th>
                    </tr>
                  </thead>

                  <tbody>
                      <tr>
                        <td>Bitstamp</td>
                        <td id="bsBal"></td>
                        <td id="bsBalUSD"></td>
                      </tr>
                      <tr>
                        <td>Coinbase</td>
                        <td id="cbBal"></td>
                        <td id="cbBalUSD"></td>
                      </tr>
                      <tr class="info">
                        <td>Total</td>
                        <td id="totBal"></td>
                        <td id="totBalUSD"></td>
                      </tr>
                  </tbody>
                </table>
            </div>
          </div>
            
          <!--/div>
        </div-->


         <div class="panel panel-primary">
           <div class="panel-heading"><h3 class="panel-title"><%= link_to 'Alerts', '/alerts' %></h3>
	   </div>
             <div class="panel-body">
              <ul class="list-group">
                  <li class="list-group-item">
                    Alert Range (Set Price Difference)
                    <span >
                      <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                          </span>
                        </input>
                      </div>
                    </span>
                  </li>
              </ul>
            </div>
          </div>
        </div>
   </div>
 </div>
<%= yield %>
<% end %>
