<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="https://googledrive.com/host/0B6j6xmB1Ii0mX0dMb3NjWk85bEk/canvasjs.min.js"></script>
<script type="text/javascript">
  window.onload = function () {

    // dataPoints
    var dataPoints1 = [];
    var dataPoints2 = [];

    var chart = new CanvasJS.Chart("chartContainer",{
      zoomEnabled: true,
      title: {
        text: "Bitcoin Realtime Price Comparison"
      },
      toolTip: {
        shared: true

      },
      legend: {
        verticalAlign: "top",
        horizontalAlign: "center",
                                fontSize: 14,
        fontWeight: "bold",
        fontFamily: "calibri",
        fontColor: "dimGrey"
      },
      axisX: {
        title: "chart updates every 60 secs"
      },
      axisY:{
        prefix: '$',
        includeZero: false
      },
      data: [{
        // dataSeries1
        type: "line",
        xValueType: "dateTime",
        showInLegend: true,
        name: "Bitstamp",
        dataPoints: dataPoints1
      },
      {
        // dataSeries2
        type: "line",
        xValueType: "dateTime",
        showInLegend: true,
        name: "Coinbase" ,
        dataPoints: dataPoints2
      }],
          legend:{
            cursor:"pointer",
            itemclick : function(e) {
              if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                e.dataSeries.visible = false;
              }
              else {
                e.dataSeries.visible = true;
              }
              chart.render();
            }
          }
    });

    navdash = document.getElementById("navdash");
      navtrans = document.getElementById("navtrans");
      navtran = document.getElementById("navtran");
      navhold = document.getElementById("navhold");
      navdash.className = "active"
      navtrans.className = ""
      navtran.className = ""
      navhold.className = ""

    var updateInterval = 3000;
    // initial value
    var yValue1 = 570;
    var yValue2 = 560;

    var time = new Date;
    time.setHours(9);
    time.setMinutes(30);
    time.setSeconds(00);
    time.setMilliseconds(00);
    // starting at 9.30 am

    var updateChart = function (count) {
      count = count || 1;

      // count is number of times loop runs to generate random dataPoints.

      for (var i = 0; i < count; i++) {

        // add interval duration to time
        time.setTime(time.getTime()+ updateInterval);


        // generating random values
        var deltaY1 = .5 + Math.random() *(-.5-.5);
        var deltaY2 = .5 + Math.random() *(-.5-.5);

        // adding random value and rounding it to two digits.
        yValue1 = Math.round((yValue1 + deltaY1)*100)/100;
        yValue2 = Math.round((yValue2 + deltaY2)*100)/100;

        // pushing the new values
        dataPoints1.push({
          x: time.getTime(),
          y: yValue1
        });
        dataPoints2.push({
          x: time.getTime(),
          y: yValue2
        });


      };

      // updating legend text with  updated with y Value
      chart.options.data[0].legendText = " Bitstamp  $" + yValue1;
      chart.options.data[1].legendText = " Coinbase  $" + yValue2;

      chart.render();

    };

    // generates first set of dataPoints
    updateChart(3000);

    // update chart after specified interval
    setInterval(function(){updateChart()}, updateInterval);
  }
</script>
<script>
      function updateBals(){
        jQuery.ajax({ 
          type: 'GET',
          url: '/home/balance' ,
          dataType: 'json', 
          success: function(data) { 
            var bsInfo = data.bitstamp;
            element = document.getElementById("bsBal");
            element.textContent = bsInfo;
            

            var cbInfo = data.coinbase;
            element = document.getElementById("cbBal");
            element.textContent = cbInfo;
          }
        });
    }
    window.setInterval(updateBals, 10000);
</script>
<% if user_signed_in? %>

      <div class="row">
        <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-body">
              <ul class="nav nav-pills nav-stacked">
                <li> 
                  <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title"><%= link_to 'Holdings', '/holdings' %></h3></div>
            <div class="panel-body">
              <ul class="list-group">
                  <li class="list-group-item">
                    Bitstamp
                    <span class="badge" id="bsBal"><%= Bitstamp.balance.to_s %></span>
                  </li>
                  <li class="list-group-item">
                    Coinbase
                    <span class="badge" id="cbBal"><%= @coinbase.balance.fractional.to_s %></span>
                  </li>
              </ul>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">Alerts</h3></div>
            <div class="panel-body">
              <ul class="list-group">
                  <li class="list-group-item">
                    Alert Range
                    <span >
                      <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                          </span>
                        </input>
                      </div>
                    </span>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
<%= yield %>
<% end %>
