<script>
navtrans = document.getElementById("navtrans");
      navtran = document.getElementById("navtran");
      navhold = document.getElementById("navhold");
      navalert = document.getElementById("navalert");
      navdash.className = ""
      navtrans.className = ""
      navtran.className = ""
      navhold.className = ""
      navalert.className = "active"
</script>
<h1></h1>

<%= render 'form' %>
<div class="col-md-3"></div>
  <button type="button" class="btn btn-default">
<!--%= link_to 'Show', @alert %-->
<%= link_to 'Back', alerts_path %>
  </button>
