<script>
navtrans = document.getElementById("navtrans");
      navtran = document.getElementById("navtran");
      navhold = document.getElementById("navhold");
      navalert = document.getElementById("navalert");
      navdash.className = ""
      navtrans.className = ""
      navtran.className = ""
      navhold.className = ""
      navalert.className = "active"
</script>
<h1></h1>

<%= render 'form' %>


