<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- include javascript, jQuery FIRST -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">


        navdash = document.getElementById("navdash");
      navtrans = document.getElementById("navtrans");
      navtran = document.getElementById("navtran");
      navhold = document.getElementById("navhold");
      navdash.className = ""
      navtrans.className = "active"
      navtran.className = ""
      navhold.className = ""
      window.onload = function () { 
        selExchange = document.getElementById("selExchange");
        selType = document.getElementById("selType");
        txtQuantity = document.getElementById("txtQuantity");
        txtPrice = document.getElementById("txtPrice");

        txtPrice.style.visibility = "hidden";
      }
      function fillTypePrice(){
        selExchange = document.getElementById("selExchange");
        selType = document.getElementById("selType");
        txtQuantity = document.getElementById("txtQuantity");
        txtPrice = document.getElementById("txtPrice");
        var exchange = $("#selExchange :selected").text()
        if(exchange == "Bitstamp"){
          txtPrice.style.visibility = "visible";
          $("#selType")
          .find('option')
          .remove()
          .end()
          .append($('<option selected="selected"></option>').val("Limit Buy").html("Limit Buy"))
          .append($('<option></option>').val("Limit Sell").html("Limit Sell"));
        }
        else if(exchange = "Coinbase"){
          txtPrice.style.visibility = "hidden";
          $("#selType")
          .find('option')
          .remove()
          .end()
          .append($('<option selected="selected"></option>').val("Market Buy").html("Market Buy"))
          .append($('<option></option>').val("Market Sell").html("Market Sell"));
        }
      }
    </script>

			<%= render 'form' %>

